<div class="card middle">
  <div class="front">
    <div class="front-content middle">
      <h1 class="title">Mr Jack</h1>
      <p class="subtitle">A game by Bruno Cathala & Ludovic Maublanc</p>
    </div>
  </div>
  <div class="back">
    <div class="back-content middle">
      <img src="../assets/jack.jpg">
      <div class="description middle">
        <p>Rediscover Holmes and Mr. Jack in a rapid and cunning game of hide and seek. Excitement guaranteed!</p>
        <p>Check out the official app on the AppStore and GooglePlay below.</p>
        <div class="badges">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.meepletouch.mrjackpocket">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="https://apps.apple.com/us/app/mr-jack-pocket/id853246110">
            <i class="fa fa-apple" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
