.game-menu-container {
  text-align: center;
  margin: 1vw 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

ul {
  list-style-type: none;
  display: inline-flex;
}

li {
  margin: 10px;
  padding: 10px;
  border: 2px solid transparent;
  font-weight: bold;
  transform: scale(1);
  transition: transform .5s ease;
}

span {
  margin-left: -.1rem;
}

li:hover {
  cursor: pointer;
  color: black;
  border: 2px solid black;
}

.selected {
  color: orange;
  border: 2px solid orange;
  transform: scale(1.1);
  transition: transform .5s ease;
}